.header {
    background-color: $primaryColor;
    border: 1px solid;
    @include media (sm) {
        box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    }
    .container {
        @extend %container;
    }
    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        @include media (sm) {
            height: 100px;
        }
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__logo {
        margin-right: 45px;
        @include media (xs) {
            margin-right: 36px;
        }
        @include media (sm) {
            height: 23px;
        }
    }
    &__phone {
        display: none;
        span {
            @include text(14px, 400, 17px, $textColorLight);
        }
        @include media (xs) {
            display: block;
        }
    }
    &__phone-link {
        @include text(14px, 400, 17px, $textColor);
    }
    &__phone-city {
        @include media (xs) {
            display: none;
        }
    }
    &__user {
        @include media (md) {
            display: none;
        }
    }
}